.row{
    margin-top: 100px;
}
h1{
    font-size: 80px;
    color: blue;
}
input{
    margin-top: 10px;
}
button{
    margin-top: 10px;
}
body{
    background-color: whitesmoke;
}
form{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
a{
    margin-top: 5px;
    display: block;
}
.btn-success{
    margin-left: 100px;
}